{% block body %}
    <ul class="nav nav-tabs" id="project-navbar">
      <li role="presentation" id="project"><a href="{{ url('diyoh_project_showproject',{'id':project.id}) }}">Project</a></li>
      <li role="presentation" id="discussion"><a href="{{ url('diyoh_project_showprojecttools',{'id':project.id}) }}">Tools</a></li>
      <li role="presentation" id="discussion"><a href="{{ url('diyoh_project_showprojectmaterials',{'id':project.id}) }}">Materials</a></li>
      <li role="presentation" id="comment"><a href="{{ url('diyoh_project_showprojectcomments',{'id':project.id}) }}">Comments</a></li>
      <li role="presentation" id="discussion"><a href="{{ url('diyoh_project_showprojectdiscussions',{'id':project.id}) }}">Discussion</a></li>
    </ul>
{% endblock %}