{% extends "::base.html.twig" %}

{% block title %}DiyohBundle:Project:showProject{% endblock %}

{% block body %}

    <div class="container">

        {% include('DiyohBundle:Project:project_navbar.html.twig') %}

        {% if favproj is defined %}

            {% if favproj %}

                <a href="{{ url('diyoh_project_favourite',{'id':project.id,'addOrRm':'rm'}) }}"><span class="glyphicon glyphicon-remove-sign"></span> remove from favourites</a>

            {% elseif project.authorId.id != app.user.id %}

                <a href="{{ url('diyoh_project_favourite',{'id':project.id,'addOrRm':'add'}) }}"><span class="glyphicon glyphicon-heart"></span> add to favourites</a>

            {% endif %}

        {% endif %}

        {#<p>{{ project.id }}</p>#}
        <p>{{ project.name }}</p>
        <a href="{{ url("diyoh_project_showinfoaboutotheruser",{'id':project.authorId.id}) }}"><p>{{ project.authorId }}</p></a>
        <p>{{ project.description }}</p>

        <div class="row">

            <div class="page-header">

                <h4>Tags</h4>

            </div>

            <div>
                {% for tag in project.tags %}

                    <a href="{{ url("diyoh_project_showtaglinks",{'id':tag.id}) }}"><span class="badge">{{ tag.name }}</span>

                    {% endfor %}
            </div>

        </div>

        {% if project.imagesPaths != null %}

            <div class="row">

                <div class="page-header">
                    <h4>Images</h4>
                </div>

                {% for imagePath in project.imagesPaths %}

                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                            <img src="{{ asset('images/' ~ imagePath) }}">
                        </a>
                    </div>


                {% endfor %}

            </div>

        {% endif %}
        
        <img src="{{ asset('images/test1.svg') }}">

    </div>

{% endblock %}
